.comp-slider {
    border-radius: 10px;
    filter: drop-shadow(0px 1px 4px #000);
}

.before, .after {
    margin: 0;
}

.before figcaption, .after figcaption {
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 12px;
    color: #2e3452;
    opacity: 0.8;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 100%;
}

.before figcaption {
    left: 12px;
}

.after figcaption {
    right: 12px;
}
