/*
 TODO: Convert this to be compatible with more browsers.
 TODO: Minify this
 */
 :root {
    --card-color: #fff;
    --text-color: black;
    --hero-button-text: white;
    --bg-color: #f8f8f8;
    --nav-border: #b7b7b7;
    
    --hero-box: rgba(222, 222, 222, 0.2);
    --bg-img: url("./imgs/bg-light.png");

    --nav-height: 70px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    font-size: 1.1em;
}

.navbar {
    position: fixed;
    z-index: 20;

    top: 0px;
    left: 0px;

    width: 100%;
    height: var(--nav-height);
    background-color: var(--card-color);

    border-bottom: solid 5px var(--nav-border);
}

.navbar .logo {
    width: 250px;
}

.navbar .nav-link {
    color: var(--text-color);
    margin: 1rem;
    text-decoration: none;
    text-align: center;
}

.navbar .nav-link:hover {
    color: #3e9ce3;
}

.theme-switch {
    text-align: center;
    cursor: pointer;
}

.theme-switch i {
    margin-right: -1.5rem;
    cursor: pointer;
}

.theme-switch input {
    opacity: 0;
    cursor: pointer;
}

.navbar .nav-resp-collapse {
    display: none;
    color: var(--text-color);
    margin: 1rem;
    text-decoration: none;
    text-align: center;
}

.navbar .nav-collapsed {
    display: none;
    flex-direction: column;
    background: var(--bg-color);
    z-index: 999;
}

.hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
    color: var(--text-color);

    margin-top: var(--nav-height);

    background: var(--card-color) var(--bg-img) no-repeat fixed center center;
    background-size: cover;

    border-bottom: solid 5px var(--nav-border);
}

.hero .box {
    padding: 2px;
    border-radius: 10px;
    background: var(--hero-box);
}

.title {
    font-size: 3.5rem;
}

.title2 {
    font-size: 3rem;
}

.subtitle {
    margin-top: -.7rem;
    font-size: 1.6rem;
}

.mt {
    margin-top: 1rem;
}

.button {
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--hero-button-text);

    background: rgba(0, 0, 0, 0.7);

    width: 160px;

    border-radius: 10px;
    padding: 1rem;

    transition: .4s;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    background: rgba(0, 0, 0, 0.5);
}

.feature-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    margin: 1rem;
    text-align: center;

    padding: 2rem;
    border-radius: 10px;
    background: var(--card-color);
    color: var(--text-color);

    width: 220px;
    min-height: 330px;
    height: auto;

    filter: drop-shadow(0px 1px 4px #000);
    transition: .3s;
}

.feature:hover {
    cursor: pointer;
    transform: translateY(-10px);
    color: #3e9ce3;
}

.feature:hover .kotlin {
    filter: invert(67%) sepia(38%) saturate(4944%) hue-rotate(180deg) brightness(93%) contrast(90%);
}

.feature .icon {
    font-size: 4rem;
    width: 4rem;
}

.demo {
    margin-top: 2rem;
    height: auto;
    color: var(--text-color);
}

.feature .banner {
    background-color: brown;
    position: absolute;
    top: 6%;
    color: white !important;
    border-radius: 1px;
    right: -9%;
    width: 50%;
    transform: rotateZ(35deg);

    border: solid 1 px black;
}

.review {
    border-top: solid 5px var(--nav-border);
    background: var(--card-color) var(--bg-img) no-repeat fixed center center;
    color: var(--text-color);
    background-size: cover;
    height: 60vh;
}

.review .quote {
    background: rgba(0, 0, 0, 0.7);

    padding: 1rem;
    border-radius: 15px;
    width: 100%;
    height: 150px;

    color: var(--hero-button-text);
}

.review .quote .author .name {
    font-size: 1.5rem;
}

.review .quote .author .job {
    font-size: .8rem;
}

.footer {
    background: rgba(0, 0, 0, 0.3) var(--bg-img) no-repeat fixed center center;
    background-size: cover;
    height: 30px;
}

.footer .footer-content {
    z-index: 10;
    width: 100%;
    height: 100%;

    color: white;
    background: rgba(0, 0, 0, 0.3);

    vertical-align: middle;
    text-align: center;
}

.demo .row {
    margin-bottom: 10rem;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

@media only screen and (max-width: 1030px) {
    .demo * {
        text-align: center;
    }
}

@media screen and (max-width: 870px) {
    .navbar .nav-collapsed.visible {
        display: flex;
    }

    .navbar .nav-resp-collapse {
        position: absolute;
        display: unset;

        top: .5rem;
        right: 1rem;

    }

    .navbar .nav-link-collapse {
        display: none;
    }
}

[data-theme="dark"] {
    --card-color: #272822;
    --text-color: #fff;
    --hero-button-text: #fff;
    --bg-color: #333333;
    --bg-img: url("./imgs/bg-dark.png");
    --nav-border: #1a1a1a;
    --hero-box: rgba(50, 50, 50, 0.2);
}

[data-theme="dark"] .navbar .logo {
    filter: invert();
}

[data-theme="dark"] .feature .kotlin {
    filter: invert();
}